.img-style{
    width: 350px;
    padding: 0 auto;
    border-radius: 50%;
    
}
.profile{
    background-color: blueviolet;
    padding: 50px 40%;
}
.information{
    margin: 10px 45px;
}
.goal{
  width: 80%;
  margin: 10px auto;
}